.editModalContainer{
	/* Edit */
	position: absolute;
	width: 24px;
	height: 24px;
	left: 927px;
	top: 32px;
}

.deleteButton{
	/* Delete */
	position: absolute;
	width: 24px;
	height: 24px;
	left: 971px;
	top: 32px;

}

.deleteButton > .ui.icon.button{
	background:inherit !important;
}

.editModalContainer > .ui.icon.button{
	width:inherit;
	height:inherit;
	background:inherit;
}
.editModalContainer > .ui.icon.button > .edit.icon{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.ui.checked.fitted.checkbox > label::after{
	background: #4D81B7;
	border-radius: 4px;
	color:white !important;
}