.emptyList{
	position: absolute;
	width: 614px;
	height: 290px;
	left: 333px;
	top: 174px;

	background: #FFFFFF;
	border: 1px solid #C6C6C6;
	box-sizing: border-box;
	border-radius: 5px;
}

.emptyListText{
    /* Panel Title */


	position: absolute;
	width: 231px;
	height: 24px;
	left: 524px;
	top: 261px;

	/* Nunito 18px Regular (H2) */

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 24px;
	/* identical to box height, or 133% */

	text-align: center;
	letter-spacing: -1.30385e-09px;

	color: #87898C;


}

.shoppingListAddButtonContainer{
	/* Button */


	/* Auto Layout */

	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*padding: 8px 15px;*/

	position: absolute;
	width: 89px;
	height: 36px;
	left: 1100px;
	top: 99px;

	/* Blue 3 (Button Default) */

	background: #1871E8;
	border-radius: 4px;
}
.addButtonContainer{


	/* Button */


	/* Auto Layout */

	/*display: flex;*/
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*padding: 8px 15px;*/

	position: absolute;
	width: 151px;
	height: 36px;
	left: 564px;
	top: 301px;

	/* Blue 3 (Button Default) */

	background: #1871E8;
	border-radius: 4px;

	/* White */

	color: #FFFFFF;
}

.yourItemsLabel{
	/* Your Items */


	position: absolute;
	width: 87px;
	height: 24px;
	left: 164px;
	top: 111px;

	/* Nunito 18px SemiBold */

	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	/* identical to box height, or 133% */

	text-align: center;
	letter-spacing: -1.30385e-09px;

	color: #000000;
}

.addItemButton{
	/* Button */


	/* Auto Layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 15px;

	position: absolute;
	width: 89px;
	height: 36px;
	left: 1100px;
	top: 99px;

	/* Blue 3 (Button Default) */

	background: #1871E8;
	border-radius: 4px;
}

.shoppingListContainer{
	position: absolute;
	width: 1025px;
	height: 87px;
	left: 164px;
	top: 146px;

	background: #FFFFFF;
}


.shoppingListContainer>.ui.segment>.ui.fitted.checkbox{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 18px;
	top: 32px;
}

.shoppingListContainer>.ui.segment>.topHalf{
	/* Tomatoes */


	position: absolute;
	width: 71px;
	height: 20px;
	left: 60px;
	top: 24px;

	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	/* identical to box height, or 125% */

	text-align: left;
	letter-spacing: -1.30385e-09px;

	color: #000000;
}

.shoppingListContainer>.ui.segment>.bottomHalf{
	/* Green cherry tomatoes */


	position: absolute;
	width: 146px;
	height: 20px;
	left: 60px;
	top: 47px;

	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */

	text-align: left;
	letter-spacing: -1.30385e-09px;

	color: #7D7A7A;

}

.shoppingListContainer>.ui.segment{
	width: 1025px;
	height: 87px;
	left: 0px;
	top: 0px;

	background: #FFFFFF;
	/* Strokes/Stroke, Line Divider */

	border: 0.5px solid #D5DFE9;
	box-sizing: border-box;
	border-radius: 4px;
}